<section class="tipp-produkt-section">
  <mat-card>
    <div class="container" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div class="container-image" fxFlex="50">
        <a href="https://amzn.to/2HcPIsg" target="_self" class="gtm-amazon-product" data-category="Stubenwagen">
          <picture>
            <source type="image/webp" srcset="assets/images/tipp-produkt/Waldin-Stubenwagen-Set.webp">
            <source type="image/jpeg" srcset="assets/images/tipp-produkt/Waldin-Stubenwagen-Set.jpg">
            <img src="assets/images/tipp-produkt/Waldin-Stubenwagen-Set.jpg" alt="stubenwagen">
          </picture>
        </a>
      </div>
      <div class="container-inner" fxFlex="50">
        <div class="container-header">
          <h3 class="mat-h3">Unsere Empfehlung</h3>
        </div>
        <div class="container-body" fxLayout="column">
          <div class="container-body-inner">
            <p class="mat-body">
              Der Stubenwagen von WALDIN ist ein Komplettes-Set. Es wird mit vielen wichtigen Zubehör geliefert, unter
              anderem ein Korb mit Untergestell, Nestchen, Schleifen, Himmel, Decke und Kissen, Bettwäsche, eine
              Schaumkernmatratze mit 4 cm Dicke und einem Moskitonetz. Die Auswahl ist mit 14 verschiedenen Farben und
              Mustern beachtlich. Damit ist der Stubenwagen von WALDIN die perfekte Wahl für jeden, der ein besonders
              hochwertigen und robusten Stubenwagen sucht.
            </p>
          </div>
          <div class="container-action">
            <span fxFlex></span>
            <a mat-raised-button class="button-action gtm-amazon-product" data-category="Stubenwagen"
              href="https://amzn.to/2HcPIsg" target="_self">Jetzt kaufen</a>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</section>