<header class="header">
  <mat-toolbar class="header-toolbar">
    <div fxLayout="row" fxLayoutAlign="space-between" class="container">
      <div>
        <a routerLink="/">
          <img class="logo" src="assets/images/babystubenwagen-logo-transparent.png"
            alt="baby baby-stubenwagen stubenwagen logo">
        </a>
      </div>
      <div>
        <mat-nav-list fxLayout="row" fxLayoutAlign="center center" class="social-link-wrapper">
          <a id="facebook" class="social-icon-link" mat-list-item
            href="https://www.facebook.com/Baby-Stubenwagencom-101310714789753/" target="_blank">
            <img src="assets/images/social-media/facebook-icon.png" alt="facebook-icon" class="social-icon">
          </a>
          <a id="instagram" class="social-icon-link" mat-list-item
            href="https://www.instagram.com/baby_stubenwagen/?hl=de" target="_blank">
            <img src="assets/images/social-media/instagram-icon.png" alt="instagram-icon" class="social-icon">
          </a>
        </mat-nav-list>
      </div>
    </div>
  </mat-toolbar>
  <mat-progress-bar [bufferValue]="0" [value]="value"></mat-progress-bar>
</header>