<section class="footer-section" color="primary">
  <div class="container" fxLayout="column">
    <!-- <div class="container-company" fxLayout="column">
      <div class="company-image">
        <a routerLink="/">
          <img class="logo" src="assets/images/babystubenwagen-logo-transparent.png"
            alt="baby baby-stubenwagen stubenwagen logo">
        </a>
      </div>
      <div class="company-description">
        <p class="mat-body">Stubenwagen einfach finden, vergleichen und Online kaufen. Wir sind dein Ratgeber und machen
          den Test.</p>
      </div>
    </div> -->
    <div class="container-support" fxLayout="row">
      <span fxFlex></span>
      <mat-nav-list fxLayout="row" fxLayoutAlign="end center">
        <a mat-list-item routerLink="/datenschutz" routerLinkActive="active">Datenschutz</a>
        <a mat-list-item routerLink="/impressum" routerLinkActive="active">Impressum</a>
      </mat-nav-list>
    </div>
  </div>
</section>